body{
    color: orange;
    background-color: #fbec5d;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    align-items: center;
    padding: 10px;
}

a{
    color: orangered;
    text-decoration: none;
}

img{
    width: 100px;
    height: 100px;
    border-radius: 8%;
    border: 1px solid orangered;
}

.center{
    text-align: center;
}

h1{
    color: orangered;
}

h2{
    color: orangered;
}

form{
    color: orangered;
}